# This workflow builds the Javadoc
name: Javadoc

on:
  push:
    branches:
      - main
      - v6.x.x
  pull_request:

jobs:
  # build javadoc
  javadoc:
    runs-on: ubuntu-latest

    timeout-minutes: 60
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # 4.2.2

      - name: Set up JDK 17
        uses: actions/setup-java@7a6d8a8234af8eb26422e24e3006232cccaa061b
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'gradle'

      - name: Run Javadoc
        run: ./gradlew javadoc
