# This workflow checks the code style
name: Spotless

on:
  push:
    branches:
      - main
      - release/6.x.x
  pull_request:

jobs:
  # check code style
  spotless:
    runs-on: ubuntu-latest

    timeout-minutes: 60
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # 4.2.2

      - name: Set up JDK 21
        uses: actions/setup-java@7a6d8a8234af8eb26422e24e3006232cccaa061b
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'gradle'

      - name: Run Spotless
        run: ./gradlew spotlessCheck
